NEXT_PUBLIC_BASE_URL_API=
NEXT_PUBLIC_GOOGLE_SCRIPT_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
NEXT_PUBLIC_GOOGLE_GIFT_SCRIPT_URL=
